<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boomplane1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,774},{68,224}}</string>
                <key>offset</key>
                <string>{-18,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,70},{68,224}}</string>
                <key>sourceSize</key>
                <string>{402,410}</string>
            </dict>
            <key>boomplane10.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{272,204}}</string>
                <key>offset</key>
                <string>{-9,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,170},{272,204}}</string>
                <key>sourceSize</key>
                <string>{402,410}</string>
            </dict>
            <key>boomplane11.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,728},{280,172}}</string>
                <key>offset</key>
                <string>{-14,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,211},{280,172}}</string>
                <key>sourceSize</key>
                <string>{402,410}</string>
            </dict>
            <key>boomplane2.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,728},{150,286}}</string>
                <key>offset</key>
                <string>{-18,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,64},{150,286}}</string>
                <key>sourceSize</key>
                <string>{402,410}</string>
            </dict>
            <key>boomplane3.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{206,372}}</string>
                <key>offset</key>
                <string>{-16,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,0},{206,372}}</string>
                <key>sourceSize</key>
                <string>{402,410}</string>
            </dict>
            <key>boomplane4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{266,388}}</string>
                <key>offset</key>
                <string>{-17,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,15},{266,388}}</string>
                <key>sourceSize</key>
                <string>{402,410}</string>
            </dict>
            <key>boomplane5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{322,380}}</string>
                <key>offset</key>
                <string>{-22,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,30},{322,380}}</string>
                <key>sourceSize</key>
                <string>{402,410}</string>
            </dict>
            <key>boomplane6.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,352},{340,188}}</string>
                <key>offset</key>
                <string>{-2,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,163},{340,188}}</string>
                <key>sourceSize</key>
                <string>{402,410}</string>
            </dict>
            <key>boomplane7.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,376},{350,200}}</string>
                <key>offset</key>
                <string>{-19,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,152},{350,200}}</string>
                <key>sourceSize</key>
                <string>{402,410}</string>
            </dict>
            <key>boomplane8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{298,234}}</string>
                <key>offset</key>
                <string>{-1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,131},{298,234}}</string>
                <key>sourceSize</key>
                <string>{402,410}</string>
            </dict>
            <key>boomplane9.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{348,222}}</string>
                <key>offset</key>
                <string>{-27,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,148},{348,222}}</string>
                <key>sourceSize</key>
                <string>{402,410}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>planeboom.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ecc777284e6aff55d969d60b20fe432$</string>
            <key>textureFileName</key>
            <string>planeboom.png</string>
        </dict>
    </dict>
</plist>
