<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>portal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,264},{128,121}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{128,121}}</string>
                <key>sourceSize</key>
                <string>{150,131}</string>
            </dict>
            <key>portal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,266},{140,129}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,129}}</string>
                <key>sourceSize</key>
                <string>{150,131}</string>
            </dict>
            <key>portal3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{140,129}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,129}}</string>
                <key>sourceSize</key>
                <string>{150,131}</string>
            </dict>
            <key>portal4.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,133},{140,129}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,129}}</string>
                <key>sourceSize</key>
                <string>{150,131}</string>
            </dict>
            <key>portal5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{140,129}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,129}}</string>
                <key>sourceSize</key>
                <string>{150,131}</string>
            </dict>
            <key>portal6.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,133},{140,129}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,129}}</string>
                <key>sourceSize</key>
                <string>{150,131}</string>
            </dict>
            <key>portal7.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{140,129}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,129}}</string>
                <key>sourceSize</key>
                <string>{150,131}</string>
            </dict>
            <key>portal8.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{140,129}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,129}}</string>
                <key>sourceSize</key>
                <string>{150,131}</string>
            </dict>
            <key>portal9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,131}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,131}}</string>
                <key>sourceSize</key>
                <string>{150,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>portal.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e566f4ef6b6cc0803e6fb932aff21a3$</string>
            <key>textureFileName</key>
            <string>portal.png</string>
        </dict>
    </dict>
</plist>
